.venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints
*.egg-info/

# openrestaurant
openrestaurant/chat_service/.env
openrestaurant/data/restaurant_booking.db
openrestaurant/opentable screenshot.png

# open-deep-research
open-deep-research/.langgraph_api/
open-deep-research/credentials.json
